#main{
    margin-top: 80px;
    cursor: pointer;
    text-align: center;
    height: 550px;
    background-color: cadetblue;
    border: 1px solid black;
    border-radius: 100px;
}
#txt{
    margin-top: 210px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
}
#summa{
    margin-top: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}
